<html>
<head>
<style>
.bodycenter {
    margin: auto;
    width: 60%;
    padding: 10px;
}

.footer{
    text-align: center;
    border: 1px solid #73AD21;
}
</style>
</head>
<body>
    
    <div class="footer">
      <p>Message:</p>
      {% for m in messages %}
        <div>
            <div>{{ m.message }}</div>
        </div>
      {% endfor %}
    </div>

  <div class="bodycenter">
 
    <form action="add_user" method="post">
      <h4>Insert Startup User</h4>
      <br>
      Name: <input type="text" name="name"><br>
      Company Value: <input type="text" name="value"><br>
      Number of Shares: <input type="text" name="shares"><br>
      <!-- Actor: <input type="text" name="actor"><br> -->
      <!-- Release Date: <input type="text" name="release_date"><br> -->
      <!-- Rating: <input type="text" name="rating"><br> -->
      <input type="submit" value="Insert User">
    </form>
    
<!--     <div class="footer">
    </div>
  </div>
  <div class="bodycenter">

    <form action="update_user" method="post">
      <h4>Update Startup User</h4>
      <br>
      Name: <input type="text" name="name"><br>
      Company Value: <input type="text" name="value"><br>
      Number of Shares: <input type="text" name="shares"><br>
      <input type="submit" value="Update user">
    </form> -->
    
    <div class="footer">
    </div>
  </div>
  <div class="bodycenter">
 
    <form action="delete_user" method="post">
      <h4>Delete Starup User</h4>
      <br>
      Name: <input type="text" name="delete_name"><br>
      <input type="submit" value="Delete user">
    </form>
    
    <div class="footer">
    </div>
  </div>
  <div class="bodycenter">
 
    <form action="search_user" method="get">
      <h4>Search Startup User</h4>
      <br>
      Actor: <input type="text" name="search_user"><br>
      <input type="submit" value="Search entrepreneurs">
    </form>
    
    <div class="footer">
    </div>
  </div>
<!--   <div class="bodycenter">
 
    <h4>Print user</h4>
    <form action="highest_rating" method="get">
      <br>
      <input type="submit" value="Highest Rating user">
    </form>
    
    <form action="lowest_rating" method="get">
      <br>
      <input type="submit" value="Lowest Rating user">
    </form>

    <div class="footer">
    </div>
  </div> -->
</body>
</html>